.card {
  background-color: var(--normal-10);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 395px;
  min-width: 320px;
  overflow: hidden;
}

.heading {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  padding: 32px 32px 0;
  width: 100%;
}

.heading h3 {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  width: 100%;
}

.icon {
  align-items: center;
  box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
}

.icon svg {
  max-width: 20px;
}

.subTitle {
  align-items: center;
  display: flex;
  gap: 8px;
}

.subTitle p {
  color: gray;
  font-size: 14px;
}

.description {
  display: block;
  padding: 0 32px;
}

.children {
  background-color: var(--normal-50);
  display: flex;
  justify-content: center;
  padding: 12px;
  width: 100%;
}

.description strong {
  display: block;
  margin-bottom: 8px;
}

.cta {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  padding: 32px;
}
