.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100dvh;
  height: 100vh;
  left: 0;
  overflow: hidden;
  padding: 32px;
  position: fixed;
  top: 0;
  width: 100dvw;
  width: 100vw;
  z-index: var(--layer-overlay);
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 420px;
  text-align: center;
}

.inner label {
  background-color: var(--normal-00);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 32px;
}

.close {
  background-color: var(--normal-00);
  border: none;
  font-size: 32px;
  position: absolute;
  right: 0;
  top: 0;
}
